<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>S2L-PSIBLAST web server</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="assets/vendor/icofont/icofont.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="assets/vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="assets/vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="assets/vendor/venobox/venobox.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="assets/vendor/owl.carousel/assets/owl.carousel.min.css")}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename="assets/css/style.css")}}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="index.html">S2L-PSIBLAST</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="/S2L-PSIBLAST/home/">Home</a></li>
          <!--     <li class="drop-down"><a href="">Server</a>
                <ul>
                  <li><a href="/S2L-PSIBLAST/server">S2L-PSIBLAST</a></li>
                  <li><a href="/S2L-PSIBLAST/serverhmmer">S2L-DELTABLAST</a></li>
                  <li><a href="/S2L-PSIBLAST/serverhmmer">S2L-PSIBLASTexB</a></li>

                </ul>
              </li>-->
              <li><a href="/S2L-PSIBLAST/download/">Download</a></li>
              <li><a href="/S2L-PSIBLAST/citation/">Citation</a></li>

            </ul>
          </nav><!-- .nav-menu -->

<!--          <a href="#about" class="get-started-btn scrollto">Get Started</a>-->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

  
  
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about" style="height:800px; width:100%;">
      <div class="container">

        <div class="section-title">
        <br>
          <h2>Citation</h2>
          <p style="font-size:24px">Please cite the following papers when using the server and data at this website:</p>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <ul>
              <li><i class="ri-check-double-line"></i>1. Jin X, Liao Q, Wei H, Zhang J, Liu B: <strong> SMI-BLAST: a novel supervised search framework based on PSI-BLAST for protein remote homology detection. </strong> Bioinformatics, DOI: 10.1093/bioinformatics/btaa772</li>
              <li><i class="ri-check-double-line"></i>2. Jin X, Liao Q, Liu B: <strong>PL-search: a profile-link-based search method for protein remote homology detection. </strong>Briefings in Bioinformatics 2020;DOI: 10.1093/bib/bbaa051. </p></li>
              <li><i class="ri-check-double-line"></i>3. Jin X, Liu B: <strong> S2L-PSIBLAST: a supervised two-layer search framework based on PSI-BLAST for protein remote homology detection. (Submitted) </strong></li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->  

   

  </main><!-- End #main -->
  
  <br>  <br>  <br>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
	 <p style="font-family: Calibri;">
          Copyright@By <a href="http://bliulab.net/DefaultPage/" style="color: crimson"> Bin Liu's lab</a>, <a href="https://english.bit.edu.cn/" target="_blank" style="color: white;">Beijing Institute of Technology</a>.
        </p>
        <p style="font-family: cambria">
          网站备案号: <a href="http://www.beian.miit.gov.cn" style="color: white;">粤ICP备19041859号-1<br></a>
        </p>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
{% block script %}
  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename="assets/vendor/jquery/jquery.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/jquery.easing/jquery.easing.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/php-email-form/validate.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/waypoints/jquery.waypoints.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/counterup/counterup.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/venobox/venobox.min.js")}}"></script>
  <script src="{{url_for('static', filename="assets/vendor/owl.carousel/owl.carousel.min.js")}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename="assets/js/main.js")}}"></script>
 {% endblock %}
 <div style="display:none" >
        <script type="text/javascript" src="//js.users.51.la/21097085.js"></script>
  </div>
</body>

</html>
