<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div id="page"> 
  
<div id="content">



<div id="maincontent">
	<br><br>
	<div style="width: 95%; margin: 0 auto; text-align: justify">
		<h3 style="text-align: center;color:#000000; font-size: 30px"> <strong>PL-search(hybird version)</strong ></h3>
		<div style="font-size:12px" align="justify">
			<p style="margin-top:6pt ;margin-bottom:0pt; text-indent:3em ;color:#000000; font-size:16px">For the web server, the profile link databases constructed lead the in-link for new protein sequences cannot be got. Therefore, a hybrid version of PL-search for the web server is proposed. In the web server, when calculating the similarity of protein pairs, the first level of Jaccard distance is calculated by out-link and profile link and the calculate manner of second level of Jaccard distance is retained. The final ranking list is consisted by our search result and out-link instead of double-link. Furthermore, the parallel speed-up is implemented in webserver and stand-alone tool. </p>
			<br/>   <br><br>
		</div>
		
	
	</div>
</div>


</div>

<div style="clear: both; height: 1px;"></div>


{% endblock %}
